<!-- NAVBAR -->

<nav>
    <div class="container-fluid">

      <H1> CRM </H1> 

        <ul class="navbar-nav">

          <li class="nav-item">
            <!-- LINK DASHBOARD -->
            <a class="nav-link text-secondary" 
                [routerLink]="['start']" 
                routerLinkActive="router-link-active" > Dashboard </a> 
          </li>

          <li class="nav-item">
            <!-- LINK CLIENTI -->
            <a class="nav-link text-secondary" 
                [routerLink]="['clienti']" 
                routerLinkActive="router-link-active"> Clienti </a>
          </li>

          <li class="nav-item">
            <!-- LINK FATTURE -->
            <a class="nav-link text-secondary" 
                [routerLink]="['fatture']" 
                routerLinkActive="router-link-active"> Fatture </a>
          </li>
            
        </ul>
      
      
    </div>
    <!-- FUNZIONE LOGOUT -->
    <button type="button" class="btn btn-danger container-fluid " (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</button>
</nav>

