<!-- CAMBIARE FOOTER -->
<footer >
    <p>
        CRM by Stefano Astazi
    </p>
    
    <address class="text-secondary"> 
        <a href="mailto:steveastazi@gmail.com" class="text-secondary text-decoration-none"><i class="bi bi-envelope"></i> steveastazi@gmail.com</a> <br>
        <a href="https://api.whatsapp.com/send?phone=+39 3662913579"  class="text-secondary text-decoration-none"> <i class="bi bi-telephone"></i>+39 3662913579</a>  
    </address>
     

</footer>
