<!-- MODIFCA PROVINCIA -->

<div class=" container p-3 " id="edit">

    <!-- FUNZIONE CHIUDI MODIFICA -->
    <div class="text-right">
        <button type="button" class="btn btn-danger"(click)="close()"> <i class="bi bi-x-lg"></i> </button>
    </div>

    <h2> Modifica Provincia: {{user.nome}} </h2>
        
            <!-- FORM DI MODIFICA -->
            <div >
                
                <!-- NOME PROVINCIA -->
                <label  class="form-label"> Nome provincia: </label>
                    <input type="text" 
                            [(ngModel)]="user.nome" 
                            class="form-control" 
                            name="nomecomune" 
                            placeholder="nome provincia...">

                <!-- SIGLA PROVINCIA -->
                <label  class="form-label"> Sigla provincia: </label>
                    <input type="text" 
                            [(ngModel)]="user.sigla" 
                            class="form-control" 
                            name="nomeprovincia" 
                            placeholder="sigla provincia...">
                
            </div>
        
            <!-- FUNZIONE CONFERMA MODIFICA CLIENTE -->
            <div class="pt-2">
                <button class="btn btn-success container-fluid" (click)="editProvincia(user)"> <i class="bi bi-check2"></i> Conferma Modifiche</button>
            </div>
</div>



