<!-- AGGIUNGI UN CLIENTE -->

<h1> Nuovo cliente </h1>
<p> Aggiungi nuovi o vecchi clienti non presenti nel database</p>
<p class="text-secondary"> Se nella selezione di comuni non è presente quello desiderato cliccare
         <a class="link-primary  " [routerLink]="['addcomune']" routerLinkActive="router-link-active"> qui</a> per aggiungerlo </p>

<!-- nomeContatto -->         
<label  class="form-label"> Nome: </label> 
        <input type="text" 
                [(ngModel)]="cliente.nomeContatto" 
                name="nomeContatto" 
                class="form-control container-fluid"  
                placeholder="nome...">

<!-- cognomeContatto -->
<label  class="form-label"> Cognome: </label> 
        <input type="text" 
                [(ngModel)]="cliente.cognomeContatto" 
                name="cognomeContatto" 
                class="form-control container-fluid"  
                placeholder="cognome...">

<!-- telefonoContatto -->
<label  class="form-label"> Telefono privato: </label> 
        <input type="text" 
                [(ngModel)]="cliente.telefonoContatto"  
                name="telefonoContatto" 
                class="form-control container-fluid"  
                placeholder="telefono privato...">

<!-- emailContatto -->
<label  class="form-label"> Email privata: </label> 
        <input type="text" 
                [(ngModel)]="cliente.emailContatto" 
                name="emailContatto" 
                class="form-control container-fluid"  
                placeholder=" email privata...">

<!-- telefono -->                
<label  class="form-label"> Telefono aziendale: </label> 
        <input type="text" 
                [(ngModel)]="cliente.telefono" 
                name="telefono" 
                class="form-control container-fluid"  
                placeholder="telefono aziendale...">

<!-- email -->
<label  class="form-label"> Email aziendale: </label> 
        <input type="text" 
                [(ngModel)]="cliente.email" 
                name="email" 
                class="form-control container-fluid"  
                placeholder="email aziendale...">

<!-- pec -->
<label  class="form-label"> Pec: </label>  
        <input type="text" 
                [(ngModel)]="cliente.pec" 
                name="pec" 
                class="form-control container-fluid"  
                placeholder="pec...">

<!-- tipoCliente  -->
<label  class="form-label"> Tipo cliente: </label>   
        <select [(ngModel)]="cliente.tipoCliente" name="tipoCliente" class="form-control " >
            <option> SRL</option>
            <option> SPA</option>
            <option> SAS</option>
            <option> PA </option>  
        </select>

<!-- ragioneSociale -->        
<label  class="form-label"> Ragione sociale: </label> 
        <input type="text" 
                [(ngModel)]="cliente.ragioneSociale" 
                name="ragioneSociale" 
                class="form-control container-fluid"  
                placeholder="ragione sociale...">

<!-- partitaIva -->
<label  class="form-label"> Partita iva: </label> 
        <input type="text" 
                [(ngModel)]="cliente.partitaIva" 
                name="partitaIva" 
                class="form-control container-fluid"  
                placeholder="partita iva...">

        
<!-- indirizzo sede operativa -->        
<label  class="form-label"> Indirizzo sede operativa: </label>

        <div class="d-flex">
        
            <!-- VIA -->
            <input type="text"      
                        [(ngModel)]="SedeOperativa.via" 
                        name="via" 
                        class="form-control"  
                        placeholder="via...">

            <!-- CIVICO -->
            <input type="text"    
                        [(ngModel)]="SedeOperativa.civico" 
                        name="civico" 
                        class="form-control"  
                        placeholder="civico...">

            <!-- LOCALITA -->
            <input type="text"      
                        [(ngModel)]="SedeOperativa.localita" 
                        name="localita" 
                        class="form-control"  
                        placeholder="località...">

            <!-- CAP -->
            <input type="text"    
                        [(ngModel)]="SedeOperativa.cap" 
                        name="cap" 
                        class="form-control"  
                        placeholder="cap...">

        </div> 

<!-- comune -->
<label  class="form-label"> Comune sede operativa: </label>                                
        <select class="form-control" [(ngModel)]="SedeOperativa.comune"  >
                <option selected  >Comune</option>
                <option  *ngFor="let item of comuni" [ngValue]="item" >{{item.nome }}</option>
        </select>        
             
<!-- indirizzo sede legale-->
<label  class="form-label"> Indirizzo sede legale: </label>

        <div class="d-flex">

            <!-- VIA -->
            <input type="text"      
                        [(ngModel)]="SedeLegale.via" 
                        name="via" 
                        class="form-control"  
                        placeholder="via...">

            <!-- CIVICO -->
            <input type="text"    
                        [(ngModel)]="SedeLegale.civico" 
                        name="civico" 
                        class="form-control"  
                        placeholder="civico...">

            <!-- LOCALITA -->
            <input type="text"      
                        [(ngModel)]="SedeLegale.localita" 
                        name="localita" 
                        class="form-control"  
                        placeholder="località...">

            <!-- CAP -->
            <input type="text"    
                        [(ngModel)]="SedeLegale.cap" 
                        name="cap" 
                        class="form-control"  
                        placeholder="cap...">
        </div>  

<!-- COMUNE -->
<label  class="form-label"> Comune sede legale: </label>
            <select  [(ngModel)]="SedeLegale.comune" class="form-control " >
                <option *ngFor="let item of comuni" [ngValue]="item"> {{item.nome}} </option>
            </select>
      
<!-- dataInserimento --> 
<label  class="form-label"> Data di inserimento: </label> 
        <input type="text"  
                [(ngModel)]="cliente.dataInserimento" 
                name="dataInserimento" 
                class="form-control container-fluid"  
                placeholder="data di inserimento...">

<!-- dataUltimoContatto --> 
<label class="form-label"> Data ultimo contatto: </label>
        <input type="text"  
                [(ngModel)]="cliente.dataUltimoContatto" 
                name="dataUltimoContatto" 
                class="form-control container-fluid"  
                placeholder="data ultimo contatto...">

<!-- fatturatoAnnuale -->
<label  class="form-label"> Fatturato annuale: </label> 
        <input type="text"  
                [(ngModel)]="cliente.fatturatoAnnuale" 
                name="fatturatoAnnuale" 
                class="form-control container-fluid"  
                placeholder="fatturato annuale...">

<!-- FUNZIONE AGGIUNGI CLIENTE -->
<button type="button" class="btn btn-primary mt-2 container-fluid" (click)="addCliente(cliente)"> Aggiungi cliente </button>











