li {
    list-style-type: none;
}

#tabella{
    background-color: rgb(168, 215, 245);
    border-radius: 20px;
    box-shadow: 1px 1px #c7c6c6;
}

h1{
    text-align: center;
}

 
 @media screen and (max-width: 565px){
     .scomparsaDopo{
    display: none;
 }
 }

 @media screen and (max-width: 766px){
    .scomparsaPrima{
   display: none;
}
}