<!-- FATTURE -->

<h1> Fatture </h1>

<div id="tabella" class="p-5">
  <table class="mt-1 container-fluid">

      <!-- TITOLO DATI FATTURA -->
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"> Numero fattura </th>
          <th scope="col" class="scomparsaPrima"> Data fattura </th>
          <th scope="col"> Cliente </th>
          <th scope="col" class="scomparsaDopo"> Stato fattura</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <!-- DATI FATTURE -->
      <tbody>
        <tr *ngFor="let item of fatture; index as i">

          <!-- FUNZIONE ELIMINAZIONE FATTURA -->
          <td scope="row"> 
            <button class="btn" (click)="delfattura(item)"><i class="bi bi-x-square-fill text-danger"></i></button>
          </td>

          <!-- DATI FATTURA -->
          <td> {{item.numero}} </td>
          <td class="scomparsaPrima"> {{item.data}} </td>
          <td> {{item.cliente.nomeContatto}} </td>
          <td class="scomparsaDopo"> {{item.stato.nome}} </td>

          <!-- FUNZIONE MODIFICA FATTURA -->
          <td>  <button type="button" class="btn btn-success container-fluid" (click)="selectUser(item)"> <i class="bi bi-check-circle-fill"></i> Certifica pagamento </button> </td>

        </tr>

        <tr>

          <!-- FUNZIONE AGGIUNTA FATTURA -->
          <td  colspan="6" class="pt-3">
            <button type="button" class="btn btn-warning container-fluid" 
                      [routerLink]="['addfattura']" routerLinkActive="router-link-active">
                       <i class="bi bi-plus-circle-fill"></i> Fattura </button>
          </td>
          
        </tr>
      </tbody>
    </table>
</div>


<!-- MODIFICA CLIENTE -->
<app-modificafattura *ngIf="openEdit" [editingUser]="selectedUser" (onEditUser)="closePopup()"></app-modificafattura>

<!-- PAGINAZIONE -->
<div>

    <ul class="d-flex justify-content-center">

      <li class="p-2"><i class="bi bi-chevron-double-left"></i></li>

      <li class="p-2" *ngFor="let num of maxpag">
        <a href="fatture/page/{{num}}" class="text-info">{{num}}</a>
      </li>

      <li class="p-2"><i class="bi bi-chevron-double-right"></i></li> 

    </ul>

</div>