<!-- MODIFICA CLIENTE -->

<div class=" container p-3 " id="edit">

    <!-- FUNZIONE CHIUDI MODIFICA -->
    <div class="text-right">
        <button type="button" class="btn btn-danger"(click)="close()"> <i class="bi bi-x-lg"></i> </button>
    </div>

    <h2> Modifica {{user.nomeContatto}} </h2>
        
            <!-- FORM DI MODIFICA -->
            <div>
                
                <!-- NOME -->
                <label  class="form-label"> Nome cliente: </label>
                    <input type="text" 
                            [(ngModel)]="user.nomeContatto" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="nome cliente...">
                
                <!-- COGNOME --> 
                <label  class="form-label"> Cognome cliente: </label>
                    <input type="text" 
                            [(ngModel)]="user.cognomeContatto" 
                            class="form-control" 
                            name="cognomeContatto" 
                            placeholder="cognome cliente...">
                
                <!-- TIPO CLIENTE -->
                <label  class="form-label"> Tipo cliente: </label>
                        <select [(ngModel)]="user.tipoCliente" name="tipoCliente" class="form-control " >
                            <option> SRL</option>
                            <option> SPA</option>
                            <option> SAS</option>
                            <option> PA </option>  
                        </select>
                
                <!-- PEC -->
                <label  class="form-label"> Pec: </label>
                    <input type="text" 
                            [(ngModel)]="user.pec" 
                            class="form-control" 
                            name="pec" 
                            placeholder="pec...">

                <!-- EMAIL AZIENDALE -->        
                <label  class="form-label"> Email Aziendale: </label>
                    <input type="text" 
                            [(ngModel)]="user.email" 
                            class="form-control" 
                            name="email" 
                            placeholder="email...">

                <!-- TELEFONO CONTATTO -->
                <label  class="form-label"> Telefono contatto: </label>
                    <input type="text" 
                            [(ngModel)]="user.telefonoContatto" 
                            class="form-control" 
                            name="telefonoContatto" 
                            placeholder="telefono contatto...">

                <!-- FATTURATO ANNUALE -->
                <label  class="form-label"> Fatturato annuale cliente: </label>
                    <input type="number" 
                            [(ngModel)]="user.fatturatoAnnuale" 
                            class="form-control" 
                            name="fatturatoAnnuale" 
                            placeholder="fatturato annuale...">
  
                <!-- INDIRIZZO SEDE OPERATIVA -->
                <label  class="form-label"> Indirizzo sede operativa: </label>
                    <div class="d-flex">

                        <!-- VIA -->
                        <input type="text"  
                                [(ngModel)]="user.indirizzoSedeOperativa.via" 
                                name="via" 
                                class="form-control"  
                                placeholder="via...">

                        <!-- CIVICO -->
                        <input type="number"   
                                [(ngModel)]="user.indirizzoSedeOperativa.civico" 
                                name="civico" 
                                class="form-control"  
                                placeholder="civico...">

                        <!-- LOCALITA -->
                        <input type="text"      
                                [(ngModel)]="user.indirizzoSedeOperativa.localita" 
                                name="localita" 
                                class="form-control"  
                                placeholder="località...">

                        <!-- CAP -->
                        <input type="number"    
                                [(ngModel)]="user.indirizzoSedeOperativa.cap" 
                                name="cap" 
                                class="form-control"  
                                placeholder="cap...">
            
                    </div> 

                    <!-- COMUNE -->
                    <label  class="form-label"> Comune sede operativa: </label>
                        <input type="text" 
                                [(ngModel)]="user.indirizzoSedeOperativa.comune.nome" 
                                class="form-control" 
                                name="comune.nome" 
                                placeholder="comune sede operativa...">

                    <!-- INDIRIZZO SEDE LEGALE-->
                    <label  class="form-label"> Indirizzo sede legale: </label>
                    <div class="d-flex">

                        <!-- VIA -->
                        <input type="text"      
                                [(ngModel)]="user.indirizzoSedeLegale.via" 
                                name="via" 
                                class="form-control"  
                                placeholder="via...">

                        <!-- CIVICO -->
                        <input type="number"    
                                [(ngModel)]="user.indirizzoSedeLegale.civico" 
                                name="civico" 
                                class="form-control"  
                                placeholder="civico...">

                        <!-- LOCALITA -->
                        <input type="text"      
                                [(ngModel)]="user.indirizzoSedeLegale.localita"
                                name="localita" 
                                class="form-control"  
                                placeholder="località...">

                        <!-- CAP -->
                        <input type="number"    
                                [(ngModel)]="user.indirizzoSedeLegale.cap" 
                                name="cap" 
                                class="form-control"  
                                placeholder="cap...">
            
                    </div> 

                    <!-- COMUNE -->
                    <label  class="form-label"> Comune sede legale: </label>
                    <input type="text" 
                            [(ngModel)]="user.indirizzoSedeLegale.comune.nome" 
                            class="form-control" 
                            name="comune.nome" 
                            placeholder="comune sede operativa...">
                    
            </div>
        
            <!-- FUNZIONE CONFERMA MODIFICA CLIENTE -->
            <div class="pt-2">
                <button class="btn btn-success container-fluid" (click)="editCliente(user)"> <i class="bi bi-check2"></i> Conferma Modifiche</button>
            </div>
</div>

