<!-- MODIFICA FATTURA -->

<div class="container p-3 " id="edit">

    <!-- FUNZIONE CHIUDI MODIFICA -->
    <div class="text-right">
        <button type="button" class="btn btn-danger"(click)="close()"> <i class="bi bi-x-lg"></i> </button>
    </div>

    <h2> Modifica fattura #{{user.numero}}</h2>
        
            <!-- FORM DI MODIFICA -->
            <div >

                <!-- NOME CLIENTE FATTURA -->
                <label  class="form-label"> Nome cliente della fattura: </label>
                    <input type="text" 
                            [(ngModel)]="user.cliente.nomeContatto" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="Nome cliente...">
                
                <!-- COGNOME CLIENTE FATTURA -->
                <label  class="form-label"> Cognome cliente della fattura: </label>
                    <input type="text" 
                            [(ngModel)]="user.cliente.cognomeContatto" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="Cognome cliente...">

                <!-- STATO FATTURA -->
                <label  class="form-label"> Stato fattura: </label>
                    <select [(ngModel)]="user.stato.nome" name="stato.nome" class="form-control " >
                        <option> PAGATA </option>
                        <option> NON PAGATA </option>  
                    </select>

                <!-- IMPORTO FATTURA -->
                <label  class="form-label"> Importo della fattura: </label>
                    <input type="text" 
                            [(ngModel)]="user.importo" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="Importo fattura...">

                <!-- DATA FATTURA -->
                <label  class="form-label"> Data della fattura: </label>
                    <input type="text" 
                            [(ngModel)]="user.data" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="Data della fattura...">
                   
                <!-- NUMERO DELLA FATTURA -->
                <label  class="form-label"> Numero della fattura: </label>
                    <input type="text" 
                            [(ngModel)]="user.numero" 
                            class="form-control" 
                            name="nomeContatto" 
                            placeholder="Numero della fattura...">
                    
            </div>
        
            <!-- FUNZIONE CONFERMA MODIFICA FATTURA -->
            <div class="pt-2">
                <button class="btn btn-success container-fluid" (click)="editCliente(user)"> <i class="bi bi-check2"></i> Conferma Modifiche </button>
            </div>
</div>


