<!-- LOGIN PER ACCEDERE AL CRM -->

<h1> LOGIN </h1>

<form>

    <div class="mb-3">
      <!--  INPUT EMAIL -->
      <label  class="form-label"> Email: </label>
        <input  type="email"
                [(ngModel)]="payload.username"
                name="email"
                class="form-control" 
                placeholder="Email">
      
    </div>
    
    <div class="mb-3">
      <!-- INPUT PASSWORD -->
      <label  class="form-label"> Password: </label>
        <input  type="password"
                [(ngModel)]="payload.password" 
                name="password" 
                class="form-control"  
                placeholder="Password">

    </div>

    <!-- FUNZIONE LOGIN -->
    <button type="submit" class="btn btn-primary container-fluid" (click)="login()"> Login </button>
    <p > Non sei registrato? </p>

    <!-- FUNZIONE REGISTRAZIONE -->
    <button type="submit" 
            class="btn btn-primary container-fluid"  
            [routerLink]="['registrazione']" 
            routerLinkActive="router-link-active">  Registrati! </button>

</form>
