<!-- REGISTRAZIONE UTENTE -->

<h1> REGISTRAZIONE </h1>

<form>
    
    <!-- NOME -->
    <label class="form-label"> Nome: </label>
        <input type="text" 
                [(ngModel)]="user.nome" 
                name="nome" 
                class="form-control container-fluid"  
                placeholder="Nome...">

    <!-- COGNOME -->
    <label class="form-label"> Cognome: </label>
        <input type="text" 
                [(ngModel)]="user.cognome"  
                name="cognome" 
                class="form-control container-fluid"  
                placeholder="Cognome...">

    <!-- USERNAME -->
    <label class="form-label"> Username: </label>
        <input type="text" 
                [(ngModel)]="user.username"  
                name="username" 
                class="form-control container-fluid" 
                placeholder="Username...">

    <!-- EMAIL -->
    <label class="form-label"> Email: </label>
        <input type="email" 
                [(ngModel)]="user.email" 
                class="form-control container-fluid" 
                name="email" 
                placeholder="Email...">

    <!-- PASSWORD -->
    <label class="form-label"> Password: </label>
        <input type="password" 
                [(ngModel)]="user.password"  
                class="form-control container-fluid" 
                name="password" 
                placeholder="Password...">
                   
    <!-- FUNZIONE REGISTRAZIONE -->
    <button class="btn btn-primary container-fluid mt-3" (click)="subscribe(user)"> Aggiungi </button>           
</form>


