<!--<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div> 
<app-footer></app-footer>-->

<!--
<mat-drawer-container >
  <mat-drawer mode="side"  *ngIf="opens" opened> <app-header></app-header> </mat-drawer>
  <mat-drawer-content>
    <button type="button" (click)="open()">open</button>
    <div class="container">
      <router-outlet></router-outlet>
    </div> 
    <app-footer></app-footer>
    
  </mat-drawer-content>
</mat-drawer-container>-->

<!-- Sidenav -->
<mat-sidenav-container>
  <mat-sidenav  [(opened)]="opened"> <app-header></app-header> </mat-sidenav> <!--mode="side"-->

  <!-- content -->
  <mat-sidenav-content> 
    
    <button (click)="opened=!opened" class="btn"> <i class="bi bi-list"></i> </button>
    <div class="container">
      <router-outlet></router-outlet>
    </div> 
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>