<!-- AGGIUNTA PROVINCIA -->

<h1> Nuova provincia </h1>
<p>  Aggiungi province non presenti nel database</p>

<!-- NOME PROVINCIA -->
<label  class="form-label"> Nome provincia: </label>
        <input type="text" 
                [(ngModel)]="provincia.nome" 
                name="nome" 
                class="form-control container-fluid"  
                placeholder="nome provincia...">

<!-- SIGLA PROVINCIA -->
<label  class="form-label"> Sigla provincia: </label>
        <input type="text" 
                [(ngModel)]="provincia.sigla" 
                name="nome" 
                class="form-control container-fluid"  
                placeholder="sigla provincia...">

<!-- FUNZIONE AGGIUNGI COMUNE -->
<button type="button" class="btn btn-primary mt-2 container-fluid" (click)="addprovincia(provincia)"> Aggiungi comune</button>


<!-- TABELLA PROVINCIA -->
<div id="tabella" class="p-5">
  <table class=" mt-1 container-fluid">

      <!-- TITOLO TABELLA -->
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"> Provincia: </th>
          <th scope="col" class="scomparsa" > Sigla: </th>
          <th scope="col"></th>
        </tr>
      </thead>

      <!-- DATI PROVINCIA -->
      <tbody >
        <tr *ngFor="let item of province; index as i" >

          <!-- FUNZIONE ELIMINA PROVINCIA -->
          <td scope="row"> <button class="btn" (click)="delprovincia(item)"><i class="bi bi-x-square-fill text-danger"></i></button></td>
          <td class="scomparsa"> {{item.nome}} </td>
          <td > {{item.sigla}} </td>

          <!-- FUNZIONE MODIFICA PROVINCIA -->
          <td> 
            <button type="button" class="btn btn-info container-fluid" (click)="selectUser(item)">
               <i class="bi bi-pencil-square"></i> Modifica </button>
          </td>
        </tr>
      </tbody> 
    </table>
</div>

<!-- COMPONENTE MODIFICA PROVINCIA -->
<app-modificaprovincia *ngIf="openEdit" [editingUser]="selectedUser" (onEditUser)="closePopup()"></app-modificaprovincia>

