<!-- AGGIUNGTA COMUNE -->

<h1> Nuovo comune </h1>
<p>  Aggiungi comuni non presenti nel database</p>
<p class="text-secondary"> Se nella selezione di province non è presente quella desiderata cliccare 
    <a class="link-primary" [routerLink]="['addprovincia']" routerLinkActive="router-link-active"> qui</a> per aggiungerla </p>

<!-- NOME COMUNE -->
<label  class="form-label"> Nome comune: </label>
        <input type="text" 
                [(ngModel)]="comune.nome" 
                name="nome" 
                class="form-control container-fluid"  
                placeholder="nome comune...">

<!-- PROVINCIA -->
<label  class="form-label"> Provincia: </label> 
        <select [(ngModel)]="comune.provincia" class="form-control " >
            <option *ngFor="let item of provincia" [ngValue]="item"> {{item.nome }} </option> 
        </select>

<!-- FUNZIONE AGGIUNGI COMUNE -->
<button type="button" class="btn btn-primary mt-2 container-fluid" (click)="addcomune(comune)"> Aggiungi comune</button>


<!-- TABELLA COMUNI -->
<div id="tabella" class="p-5">
  <table class=" mt-1 container-fluid  " >

      <!-- TITOLO TABELLA -->
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" > Comune: </th>
          <th scope="col"> Provincia: </th>
          <th scope="col" class="scomparsa" > Sigla: </th>
          <th scope="col"></th>
        </tr>
      </thead>

      <!-- DATI COMUNI -->
      <tbody >
        <tr *ngFor="let item of comuni; index as i" >

          <!-- FUNZIONE ELIMINA COMUNE -->
          <td scope="row" > 
            <button class="btn" (click)="delcomune(item)"><i class="bi bi-x-square-fill text-danger"></i></button>
          </td>

          <td >{{item.nome}}</td>
          <td class="scomparsa">{{item.provincia.nome}}</td>
          <td class="scomparsaDopo">{{item.provincia.sigla}}</td>

          <!-- FUNZIONE MODIFICA COMUNE -->
          <td> 
            <button type="button" class="btn btn-info container-fluid" (click)="selectUser(item)"> 
              <i class="bi bi-pencil-square"></i> Modifica </button> 
          </td>
        </tr>
        
      </tbody> 
    </table>
</div>

<!-- COMPONENTE MODIFICA COMUNE -->
<app-modificacomune *ngIf="openEdit" [editingUser]="selectedUser" (onEditUser)="closePopup()"></app-modificacomune>



