li {
    list-style-type: none;
}

 #tabella{
    background-color: rgb(168, 215, 245);
    border-radius: 20px;
    box-shadow: 1px 1px #c7c6c6;
    margin-top: 20px;
 }

 h1,p{
    text-align: center;
 }

 
 @media screen and (max-width: 565px){
     .scomparsa{
    display: none;
 }
 }

 @media screen and (max-width: 452px){
    .scomparsaDopo{
   display: none;
}
}