<!-- AGGIUNTA FATTURA -->

<h1> Nuova fattura </h1>
<p> Aggiungi nuove o vecchie fatture non presenti nel database</p>

<!-- NUMERO FATTURA -->
<label  class="form-label"> Numero fattura: </label>
        <input type="text"  
                [(ngModel)]="fattura.numero" 
                name="numero" 
                class="form-control container-fluid"  
                placeholder="numero fattura...">

<!-- IMPORTO FATTURA -->
<label  class="form-label"> Importo: </label> 
        <input type="text"  
                [(ngModel)]="fattura.importo" 
                name="importo" 
                class="form-control container-fluid"  
                placeholder="importo...">

<!-- DATA FATTURA -->
<label  class="form-label"> Data fattura: </label> 
        <input type="text"  
                [(ngModel)]="fattura.data" 
                name="data" 
                class="form-control container-fluid"  
                placeholder="data fattura...">

<!-- ANNO DELLA FATTURA -->
<label  class="form-label"> Anno della fattura: </label> 
        <input type="text"  
                [(ngModel)]="fattura.anno" 
                name="anno" 
                class="form-control container-fluid"  
                placeholder="anno della fattura...">

<!-- STATO FATTURA -->
<label  class="form-label"> Stato farttura: </label> 
        <select [(ngModel)]="fattura.stato" class="form-control " >
            <option *ngFor="let item of statoF" [ngValue]="item"> {{item.nome }} </option> <!-- fare ngfor-->
        </select>

<!-- FATTURA DEL CLIENTE -->
<label  class="form-label"> Fattura del cliente: </label> 
        <select [(ngModel)]="fattura.cliente" class="form-control " >
            <option *ngFor="let item of customers" [ngValue]="item"> {{item.nomeContatto }} </option> <!-- fare ngfor-->
        </select>
        
<!-- FUNZIONE AGGIUNGI FATTURA -->
<button type="button" class="btn btn-primary mt-2 container-fluid" (click)="addFattura(fattura)"> Aggiungi fattura</button>
