<!-- CLIENTI -->

<h1> Clienti </h1>

<div id="tabella" class="p-5">
  <table class=" mt-1 container-fluid  " >

      <!-- TITOLO DATI CLIENTE -->
      <thead>
        <tr>
          <th scope="col" class="scomparsaDopo"></th>
          <th scope="col"> Nome </th>
          <th scope="col"> Cognome </th>
          <th scope="col" class="scomparsa"> Tipo di cliente </th>
          <th scope="col" class="scomparsa"> Fatturato annuale </th>
          <th scope="col"></th>
        </tr>
      </thead>

      <!-- DATI CLIENTE -->
      <tbody >
        <tr *ngFor="let item of customers">

          <!-- FUNZIONE ELIMINAZIONE CLIENTE -->
          <td scope="row" class="scomparsaDopo"> 
            <button class="btn" (click)="delcliente(item)"><i class="bi bi-x-square-fill text-danger"></i></button>
          </td>

          <!-- DATI CLIENTE -->
          <td> {{item.nomeContatto}} </td>
          <td> {{item.cognomeContatto}} </td>
          <td class="scomparsa"> {{item.tipoCliente}} </td>
          <td class="scomparsa"> {{item.fatturatoAnnuale}} &#8364; </td> 

          <!-- FUNZIONE MODIFICA CLIENTE -->
          <td> <button type="button" class="btn btn-info container-fluid" (click)="selectUser(item)"> <i class="bi bi-pencil-square"></i> Modifica </button> </td>

        </tr>

        <tr>

          <!-- FUNZIONE AGGIUNTA CLIENTE -->
          <td  colspan="6" class="pt-3">
            <button type="button" class="btn btn-warning container-fluid" 
                      [routerLink]="['addcliente']" routerLinkActive="router-link-active"> 
                        <i class="bi bi-plus-circle-fill"></i> Cliente </button>
          </td>
          
        </tr>
      </tbody> 
    </table>
</div>

<!-- MODIFICA CLIENTE -->
<app-modificacliente *ngIf="openEdit" [editingUser]="selectedUser" (onEditUser)="closePopup()"></app-modificacliente>

<!-- PAGINAZIONE -->
<div class="container" >

    <ul class="d-flex justify-content-center ">

      <li class="p-2"><i class="bi bi-chevron-double-left"></i></li>

      <li class="p-2" *ngFor="let num of maxpag">
        <a href="clienti/page/{{num}}" class="text-info"> {{num}} </a>
      </li>

      <li class="p-2"><i class="bi bi-chevron-double-right"></i></li>

    </ul>

</div>

  
  
