.dasboardcount{
    width: 100%;
    height: 100px;
    background-color: rgb(168, 215, 245);
    padding: 20px;
    border-radius: 100px;
    text-align: middle;
    margin-bottom: 20px;
}

h2{
    display: inline-block;
    font-size: 25px;
}

span{
    padding-left: 10px;
    font-size: 40px;
}

h1,p{
    text-align: center;
}


