<!-- DASHBOARD -->

<h1 class="pt-5"> DASHBOARD </h1>
<p> Visualizza i clienti, le fatture e tutte le informazioni a loro legate! </p>


<div>
    <div class="dasboardcount container-fluid">
        <h2> Totale Clienti:</h2> <span>{{clienti.length}}</span>
    </div>
    
    <div class="dasboardcount container-fluid">
        <h2> Totale Fatture:</h2><span>{{fatture.length}}</span>
    </div>
</div>

